Welcome to the trending franchies 500 project

In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
url = 'https://raw.githubusercontent.com/ChadSim/firstPro/main/franchise500.csv'
df = pd.read_csv(url, encoding= 'latin1')

In [3]:
df.columns

Index(['Entreupeneur Profile', '2016 Rank', 'Company', 'Category Detail',
       'Franchise 500 Rank', 'Initial Investment', 'High',
       'Change In Units 1 Yr', 'Change In Units 3 Yr', 'Founded',
       'Franchising Since', 'Corporate Address', 'Ceo', 'Parent Company',
       'About', 'Net Worth Requirement', 'Liquid Cash Requirement',
       'Initial Franchise Fee', 'Financing Options', 'Veteran Incentives',
       'Previous Ranks', 'Highest Rank', 'Lowest Rank',
       'Where Seeking Franchisees', 'Operations'],
      dtype='object')

In [4]:
df.head(2)

,Entreupeneur Profile,2016 Rank,Company,Category Detail,Franchise 500 Rank,Initial Investment,High,Change In Units 1 Yr,Change In Units 3 Yr,Founded,...,Net Worth Requirement,Liquid Cash Requirement,Initial Franchise Fee,Financing Options,Veteran Incentives,Previous Ranks,Highest Rank,Lowest Rank,Where Seeking Franchisees,Operations
0,https://www.entrepreneur.com/franchises/jimmyj...,1,Jimmy John's Sandwiches,Sandwiches,#1 Franchise 500,"$325,500","$555,000",+9.0% +205 UNITS,+22.5% +514 UNITS,1983,...,"$300,000","$80,000","$35,000",Jimmy John's Sandwiches has relationships with...,NaN,NaN,1.0,85.0,throughout the US,Training Onsite: 20 days;Training at headquart...
1,https://www.entrepreneur.com/franchises/hampto...,2,Hampton by Hilton,Midprice hotels,#2 Franchise 500,"$4,213,600","$14,896,500",+4.4% +90 UNITS,+5.7% +117 UNITS,1983,...,NaN,NaN,"$75,000",Hampton by Hilton has relationships with third...,NaN,NaN,1.0,48.0,worldwide,Training Onsite: varies;Training at headquarte...

In [7]:
#spend['Actual_PO'] = spend['Actual_PO'].replace({'\$':''}, regex = True)  
df['Liquid Cash Requirement'] = df['Liquid Cash Requirement'].replace({'\$':''}, regex = True)  
df['Initial Franchise Fee'] = df['Initial Franchise Fee'].replace({'\$':''}, regex = True)  
df['Net Worth Requirement'] = df['Net Worth Requirement'].replace({'\$':''}, regex = True) 
df['Initial Investment'] = df['Initial Investment'].replace({'\$':''}, regex = True) 
df['High'] = df['High'].replace({'\$':''}, regex = True) 
df['Net Worth Requirement'] = df['Net Worth Requirement'].replace({'\$':''}, regex = True)

In [11]:
df.head(1)

,Entreupeneur Profile,2016 Rank,Company,Category Detail,Franchise 500 Rank,Initial Investment,High,Change In Units 1 Yr,Change In Units 3 Yr,Founded,...,Net Worth Requirement,Liquid Cash Requirement,Initial Franchise Fee,Financing Options,Veteran Incentives,Previous Ranks,Highest Rank,Lowest Rank,Where Seeking Franchisees,Operations
0,https://www.entrepreneur.com/franchises/jimmyj...,1,Jimmy John's Sandwiches,Sandwiches,#1 Franchise 500,"325,500","555,000",+9.0% +205 UNITS,+22.5% +514 UNITS,1983,...,"300,000","80,000","35,000",Jimmy John's Sandwiches has relationships with...,NaN,NaN,1.0,85.0,throughout the US,Training Onsite: 20 days;Training at headquart...

In [21]:
df[['Percentage1', 'Units1']] = df['Change In Units 1 Yr'].str.extract(r'([+-]?\d*\.\d+|\d+)%\s*([+-]?\d+)\s*UNITS')
df[['Percentage3', 'Units3']] = df['Change In Units 3 Yr'].str.extract(r'([+-]?\d*\.\d+|\d+)%\s*([+-]?\d+)\s*UNITS')
df.head(2)

,Entreupeneur Profile,2016 Rank,Company,Category Detail,Franchise 500 Rank,Initial Investment,High,Change In Units 1 Yr,Change In Units 3 Yr,Founded,...,Highest Rank,Lowest Rank,Where Seeking Franchisees,Operations,Percentage,Units,Percentage1,Units1,Percentage3,Units3
0,https://www.entrepreneur.com/franchises/jimmyj...,1,Jimmy John's Sandwiches,Sandwiches,#1 Franchise 500,"325,500","555,000",+9.0% +205 UNITS,+22.5% +514 UNITS,1983,...,1.0,85.0,throughout the US,Training Onsite: 20 days;Training at headquart...,+9.0,+205,+9.0,+205,+22.5,+514
1,https://www.entrepreneur.com/franchises/hampto...,2,Hampton by Hilton,Midprice hotels,#2 Franchise 500,"4,213,600","14,896,500",+4.4% +90 UNITS,+5.7% +117 UNITS,1983,...,1.0,48.0,worldwide,Training Onsite: varies;Training at headquarte...,+4.4,+90,+4.4,+90,+5.7,+117

In [22]:
df = df.drop(['Units', 'Percentage'], axis=1)
df.head(2)

,Entreupeneur Profile,2016 Rank,Company,Category Detail,Franchise 500 Rank,Initial Investment,High,Change In Units 1 Yr,Change In Units 3 Yr,Founded,...,Veteran Incentives,Previous Ranks,Highest Rank,Lowest Rank,Where Seeking Franchisees,Operations,Percentage1,Units1,Percentage3,Units3
0,https://www.entrepreneur.com/franchises/jimmyj...,1,Jimmy John's Sandwiches,Sandwiches,#1 Franchise 500,"325,500","555,000",+9.0% +205 UNITS,+22.5% +514 UNITS,1983,...,NaN,NaN,1.0,85.0,throughout the US,Training Onsite: 20 days;Training at headquart...,+9.0,+205,+22.5,+514
1,https://www.entrepreneur.com/franchises/hampto...,2,Hampton by Hilton,Midprice hotels,#2 Franchise 500,"4,213,600","14,896,500",+4.4% +90 UNITS,+5.7% +117 UNITS,1983,...,NaN,NaN,1.0,48.0,worldwide,Training Onsite: varies;Training at headquarte...,+4.4,+90,+5.7,+117

Lets remove the '+' sign

In [24]:
df['Percentage1'] = df['Percentage1'].str.replace('+', '')
df['Units1'] = df['Units1'].str.replace('+', '')
df['Percentage3'] = df['Percentage3'].str.replace('+', '')
df['Units3'] = df['Units3'].str.replace('+', '')
df.head(2)

/var/folders/83/q0czyh392sg4dhb55y_9m5300000gn/T/ipykernel_17701/3503439158.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Percentage1'] = df['Percentage1'].str.replace('+', '')
/var/folders/83/q0czyh392sg4dhb55y_9m5300000gn/T/ipykernel_17701/3503439158.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Units1'] = df['Units1'].str.replace('+', '')
/var/folders/83/q0czyh392sg4dhb55y_9m5300000gn/T/ipykernel_17701/3503439158.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Percentage3'] = df['Percentage3'].str.replace('+', '')
/var/folders/83/q0czyh392sg4dhb55y_9m5300000gn/T/ipykernel_17701/3503439158.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Units3'] = df['Units3'].str.replace('+', '')

,Entreupeneur Profile,2016 Rank,Company,Category Detail,Franchise 500 Rank,Initial Investment,High,Change In Units 1 Yr,Change In Units 3 Yr,Founded,...,Veteran Incentives,Previous Ranks,Highest Rank,Lowest Rank,Where Seeking Franchisees,Operations,Percentage1,Units1,Percentage3,Units3
0,https://www.entrepreneur.com/franchises/jimmyj...,1,Jimmy John's Sandwiches,Sandwiches,#1 Franchise 500,"325,500","555,000",+9.0% +205 UNITS,+22.5% +514 UNITS,1983,...,NaN,NaN,1.0,85.0,throughout the US,Training Onsite: 20 days;Training at headquart...,9.0,205,22.5,514
1,https://www.entrepreneur.com/franchises/hampto...,2,Hampton by Hilton,Midprice hotels,#2 Franchise 500,"4,213,600","14,896,500",+4.4% +90 UNITS,+5.7% +117 UNITS,1983,...,NaN,NaN,1.0,48.0,worldwide,Training Onsite: varies;Training at headquarte...,4.4,90,5.7,117

In [23]:
df.isnull().sum().to_frame('nulls')

                           nulls
Entreupeneur Profile           0
2016 Rank                      0
Company                        0
Category Detail                0
Franchise 500 Rank             0
Initial Investment             0
High                           1
Change In Units 1 Yr         134
Change In Units 3 Yr         117
Founded                        0
Franchising Since              0
Corporate Address              0
Ceo                            0
Parent Company               248
About                         55
Net Worth Requirement         94
Liquid Cash Requirement       52
Initial Franchise Fee          6
Financing Options             41
Veteran Incentives           151
Previous Ranks               367
Highest Rank                 132
Lowest Rank                  132
Where Seeking Franchisees    128
Operations                     9
Percentage1                  134
Units1                       134
Percentage3                  117
Units3                       117

In [27]:
new_df_1yr = df[['Franchise 500 Rank','Company', 'Percentage1', 'Units1', 'Initial Franchise Fee']].dropna().reset_index()
new_df_3yr = df[['Franchise 500 Rank','Company', 'Percentage3', 'Units3', 'Initial Franchise Fee']].dropna().reset_index()
new_df_1yr.head(2)

,index,Franchise 500 Rank,Company,Percentage1,Units1,Initial Franchise Fee
0,0,#1 Franchise 500,Jimmy John's Sandwiches,9.0,205,"35,000"
1,1,#2 Franchise 500,Hampton by Hilton,4.4,90,"75,000"

Checking typs

In [51]:
new_df_1yr.info()
#sns.regplot(data=new_df_1yr, x='Initial Franchise Fee', y='Units1')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  362 non-null    int64
 1   Franchise 500 Rank     362 non-null    object
 2   Company                362 non-null    object
 3   Percentage1            362 non-null    float64
 4   Units1                 362 non-null    int64
 5   Initial Franchise Fee  362 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 17.1+ KB

In [61]:
new_df_1yr.shape

(362, 6)

In [56]:
#new_df_1yr = new_df_1yr[pd.notna(new_df_1yr['Initial Franchise Fee'])]

In [66]:
def process_franchise_fee(value):
    if '-' in str(value):
        # Handle ranges by calculating the average
        start, end = map(float, value.split(' - '))
        average = (start + end) / 2
        return f"{average:.2f}"  # Format the average to two decimal places as a string
    else:
        # Keep numeric values as is
        return str(value)

# Apply the custom function to the 'Initial Franchise Fee' column
new_df_1yr['Initial Franchise Fee'] = new_df_1yr['Initial Franchise Fee'].apply(process_franchise_fee)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [59]:
#new_df_1yr['Units1'] = new_df_1yr['Units1'].fillna(0).astype(int)
#new_df_1yr['Percentage1'] = new_df_1yr['Percentage1'].fillna(0).astype(float)
#new_df_1yr['Initial Franchise Fee'] = df['Initial Franchise Fee'].str.replace(',', '').astype(int)
#new_df_1yr['Initial Franchise Fee'] = new_df_1yr['Initial Franchise Fee'].astype(int)
new_df_1yr['Initial Franchise Fee'].unique()

array(['35,000 ', '75,000 ', '29,500 ', '46,000 ', '15,000 ', '45,000 ',
       '10,000 - 1,000,000', '40,000 - 90,000', '19,000 - 37,500',
       '25,000 ', '25,000 - 35,000', '40,000 ', '25,000 - 59,500',
       '29,950 ', '15,000 - 37,500', '7,500 - 15,000', '2,520 - 44,000',
       '495 - 10,495', '9,630 - 35,700', '20,000 ', '30,000 ',
       '20,000 - 61,900', '6,000 ', '50,000 - 75,000', '4,590 - 32,348',
       '21,500 ', '12,500 ', '19,950 ', '36,500 - 50,500', '495 - 9,800',
       '25,000 - 25,500', '500 - 3,500', '18,500 ', '21,000 - 45,500',
       '55,000 ', '3,000 ', '37,500 ', '49,500 ', '26,900 ', '1,250 ',
       '20,000 - 33,750', '44,500 ', '995 - 46,995', '18,000 - 55,000',
       '40,950 - 64,950', '14,900 ', '15,500 ', '3,975 - 39,750',
       '18,900 ', '25,000 - 400,000', '57,500 ', '35,000 - 70,000',
       '135,000 ', '24,500 ', '48,500 ', '15,000 - 40,000',
       '12,500 - 25,000', '29,500 - 120,000', '15,000 - 35,000',
       '39,900 - 49,900', '70,000 ', '26,000 - 27,500', '34,900 - 59,900',
       '3,000 - 22,000', '24,750 - 49,500', '39,900 ', '44,700 - 59,700',
       '8,500 ', '22,000 - 32,000', '15,000 - 85,000', '27,000 ',
       '1,000 - 50,000', '46,500 ', '32,000 - 57,000', '9,500 - 28,500',
       '22,500 ', '50,000 ', '7,200 - 45,000', '49,000 - 61,500',
       '49,000 ', '39,000 ', '17,000 - 68,000', '24,000 ', '5,000 ',
       '59,000 ', '32,000 - 65,000', '22,000 ', '49,900 ',
       '25,000 - 55,000', '19,500 ', '44,900 - 49,900', '22,500 - 42,500',
       '44,900 ', '33,900 ', '29,000 ', '15,000 - 30,000', '38,000 ',
       '75,000 - 150,000', '40,000 - 50,000', '18,750 - 25,000',
       '2,700 - 53,800', '20,000 - 50,000', '69,000 ', '10,000 ',
       '42,000 ', '27,500 ', '15,000 - 27,500', '49,950 ',
       '11,250 - 22,500', '10,000 - 30,000', '9,450 - 44,000', '120,000 ',
       '19,750 - 34,750', '15,200 - 72,000', '125,000 ',
       '15,000 - 20,000', '25,000 - 40,000', '29,900 - 44,900', '52,500 ',
       '50,000 - 60,000', '25,000 - 49,000', '33,000 ', '32,475 - 64,950',
       '17,600 - 65,000', '24,900 - 83,000', '15,000 - 42,000', '38,500 ',
       '60,000 ', '7,500 ', '29,000 - 40,000', '10,000 - 100,000',
       '24,000 - 55,000', '15,000 - 25,000', '11,400 - 31,900',
       '14,900 - 39,900', '130,000 ', '6,999 ', '31,500 ',
       '17,500 - 39,500', '34,500 ', '44,750 ', '20,000 - 35,000',
       '20,000 - 25,000', '47,500 ', '48,000 ', '49,999 ', '30 ',
       '59,900 ', '22,000 - 37,200', '34,900 ', '9,500 ', '37,750 ',
       '5,900 - 150,500', '96,995 ', '19,900 ', '32,500 ', '32,000 ',
       '8,000 ', '39,950 ', '6,000 - 30,000', '40,500 ', '46,450 ',
       '17,500 ', '128,000 ', '5,000 - 35,000', '29,900 ',
       '39,700 - 49,700', '45,000 - 85,000', '39,500 '], dtype=object)

In [ ]:
df['Units1'] = df['Units1'].str.replace(',', '').astype(int)

In [41]:
#new_df_1yr.isnull().sum().to_frame('nulls')
new_df_1yr['Units1'] = df['Units1'].astype(int)

ValueError: cannot convert float NaN to integer

Time to check if we have any 'null's

Cleaning the data